@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

footer {
    padding-bottom:15em;
}

body {
		/*background-image: url(../images/weddingcalligraphy.jpg);*/
		background-color: #f7f9f9;
		font-family: 'Montserrat', sans-serif;
		min-width: 980px;
}

h1 {
		color: #3d5673;
}

 p, li {
		color: #657c90;
}

h1 {
	font-size: 3em;
	font-family: 'Amatic SC', cursive;
	display: inline;
}

#slogan {
	font-style: italic;
}

ul#nav, ul#nav li {
	display: inline;
	padding-left: 1em;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
}

ul#social, ul#social li {
	display: inline;
	margin: 0;
	padding-left: .3em;
	font-size: 1.1em;
	position: relative;

}

ul#social {
	margin-top: 1.7em;
	margin-right: 9em;
	float: right;
}

section#imagewrapper {
	width: 100%;
}

section#footercontact {
	padding-top: 10em;
	text-align: center;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: bold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
	width: 33%;
	min-width: 320px;
}

a, ul#social li a:visited, ul#social li a:active {
	text-decoration: none;
	color: #657c90;
}

footer {
		background-color: #d5e5f3;
		padding-bottom:15em;
}